<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Despre </title>
    <link rel="icon", href="/img/weather.png">
    <link rel="stylesheet", href="/css/styles.css">
</head>

<body>
    <div class="main-content">
        {{>header}}
        <p>Site-ul o fost sacinit de sCorn3l!</p>
        <img class="aboutPhoto" src="/img/wallpaper.jpg" >
    </div>
    {{>footer}}
</body>

</html>