<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Pomashi </title>
    <link rel="icon" , href="/img/weather.png">
    <link rel="stylesheet" , href="/css/styles.css">
</head>

<body>
    <div class="main-content">
        {{>header}}
        <p>{{helpText}}
            Documentatie pentru aplicatia de generat qr-coduri poti gasi <a href="https://www.qrcode-monkey.com/qr-code-api-with-logo">aici</a> (apasa pe 'aici') !
        </p>
        
    </div>
    {{>footer}}
</body>

</html>